header{
  background-color: black;
}
.contactme {
  width: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.contactOverlay {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: black
}
.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
}
form button {
  width: 190px;
  height: 55px;
  border: 0;
  border-radius: 5px;
  background-color: #001517;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: white;
  font-weight: bold;
  margin-top: 0%;
}
form button:hover {
  background-color: unset;
  border: 2px solid #e49504;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: black;
}
.formWord {
  width: 40%;
  padding: 4%;
}
.formWord h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10%;
}
.formWord input {
  width: 100%;
  height: 50px;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  padding-left: 3%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
}
.formWord textarea {
  width: 100%;
  margin-bottom: 10%;
  border: 0;
  margin-top: 2%;
  height: 80px;
  color: black;
  -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  padding-left: 3%;
}
.Navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  overflow-y: hidden;
  
}

.Navbar > .nav-logo {
  font-weight: 700;
  font-size: 21px;
  margin: 15px;
  color: #ffffff;
  overflow-y: hidden;

}

.Navbar > .nav-items > a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.9;
  overflow-y: hidden;

}

.Navbar > .nav-items > a:hover {
  opacity: 1;
}

.Navbar > .nav-items > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all 0.45s;
}

.Navbar > .nav-items > a:hover::before {
  width: 100%;
  
}

.Navbar > .nav-toggle {
  display: none;  
}

@media (max-width: 700px) {

  .Navbar {
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .Navbar > .nav-items {
    overflow-y: hidden;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: black;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all .45s;
  }

  .Navbar > .nav-items > a::before {
      background: transparent;
  }

  .Navbar > .nav-items.open {
      transform: translateX(0);

  }
/*x*/
  .Navbar > .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }

  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
      transform: translateX(-40px);
      background: transparent;
  }

  .nav-toggle.open > .bar::before {
      width: 32px;
      transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }


}

.grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.grid-item{
  border: 1px solid rgb(217, 215, 215);
  padding: 30px;
  display: grid;
  place-items: center;
  
}
.b5{
  grid-column: 2/4;
  
 
  
}
.b1{
  grid-column: 3/4;
  
 
}
.b2{
  grid-column: 2/4;
  
 
}

.my-button {
  display: block;
  margin: 0 auto;
  text-align: center;
}


.grid-item button{
  width: 100%;
  height: 100%;
  color:white;
  background-color: black;
}
/* Center the Data container */
.Data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

/* Style the IC3 Activities header */
.Data h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Style the first paragraph */
.Data p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Style the "Contact Us" button */
.Data button {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Change button style on hover */
.Data button:hover {
  background-color: white;
  color: black;
}

/* Style the "Discover More" section */
.Data h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Style the grid container */
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
}

/* Style the grid items */
.grid-item {
  border: 1px solid rgb(217, 215, 215);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style the small buttons */
.small_btn {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

/* Change small button style on hover */
.small_btn:hover {
  background-color: white;
  color: black;
}

/* Style the big button */
.big_btn {
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

/* Change big button style on hover */
.big_btn:hover {
  background-color: white;
  color: black;
}

/* Responsive design for mobile */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .b5 {
    grid-column: 1/2;
  }
  
  .b1 {
    grid-column: 1/2;
  }
  
  .b2 {
    grid-column: 1/2;
  }
}
.Data a:hover{
  color:black;
}
.Data a{
  color:white;
}
footer{
  background-color: black;
}

/*Education css*/
.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f6f6f6;
}

.education__title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #b87820;
}

.education__logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.education__paragraph {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
}

.education__paragraph p {
  font-size: 20px;
  line-height: 1.5;
  color: #333333;
  white-space: break-spaces;
}

.education__paragraph p span {
  display: inline-block;
}

.education_bck {
  background-image: url('./img/bck.png');
  background-size: cover;
  background-position: center center;
  padding: 80px;
  color: white;
}

.education.animated .education__title {
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

.animate-text {
  font-size: 28px;
  transition: font-size 0.5s ease-in-out;
}

.education.animated .education__logo {
  width: 100px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

.education.animated .education__paragraph p {
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #576eb3;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

/*dropdown education*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  background-color: #f9f9f9;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown__list {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown__list li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.dropdown__list li:last-child {
  border-bottom: none;
}

.dropdown__list a {
  color: #333;
  text-decoration: none;
}

.dropdown__list a:hover {
  color: #fff;
  background-color: #333;
}
.dropdown:hover .dropdown__list {
  display: block;
}

.dropdown__list:hover {
  display: block;
}

/*Loading animation*/
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-screen__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/*Delete button events admin*/
.delete-btn {
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: #d33;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-btn:hover {
  background-color: #c22;
}

/*css for the admin events image fixture*/
.Data {
  font-size: 1.2rem;
}

.search-bar input {
  font-size: 1rem;
}

.add-event button,
.add-event input[type="text"],
.add-event button[type="submit"],
.add-event button[type="button"],
.add-event p {
  font-size: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.grid-item p {
  margin: 0;
  font-size: 1.2rem;
}

.grid-item .small_btn {
  font-size: 1rem;
}

.grid-item .delete-btn {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .Data {
    font-size: 1rem;
  }

  .grid-item p {
    font-size: 1rem;
  }
}

/*admin education*/
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 10px;
  resize: vertical; /* Make the input box resizable vertically */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-screen img {
  width: 200px;
}

@media (max-width: 600px) {
  input[type="text"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}
.textarea {
  height: 550px;
  width: 950px;
}

